<h1> View Reports</h1>

<%= form_tag reports_report_path do %>
Please select Report Type  <%= select_tag :report_type, options_for_select(["Daily Report", "Month to Date report","Monthly Report"]) %>

<%= text_field_tag :end_date, "", class: 'datepicker' %>

<%= submit_tag "View Reports" %>

<% end %>
<script>
  $(function() {
    $('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });
  });
</script>
